:root {
  --color-primary-light: #eb4e56;
  --color-02: #cc4b52;
  --color-main-text-01: #3a3b59;
  --color-title-in-primary: #ffffff;
  --color-text-in-primary: #d4c2ff;
  --color-text-title: #32264d;
  --color-line-in-white: #e6e6f0;
  --color-dark: #03071e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: var(--color-primary-ultra-dark); */
}
