.container .content {
  /* border: 1px solid blue; */
  position: relative;
  z-index: 1;
  margin: 0 auto;
  max-width: auto;
  text-align: center;
}

section:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 75%;
  background: #eb4e56;
  background-image: url('/images/bg-pattern-intro.svg');
  background-position: center;
  background-position-x: 30%;
  background-size: 200%;
  border-radius: 0 0 0 150px;
}

section .content h1 {
  font-family: Poppins, sans-serif;
  color: var(--color-line-in-white);
  margin: 0;
  padding: 0;
  font-size: 5rem;
}

section .content p {
  font-family: Poppins, sans-serif;
  color: var(--color-line-in-white);
  margin-top: 50px;
  padding: 0;
  font-size: 1.5rem;
}

.container {
  /* border: 1px solid red; */
  position: relative;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-content {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  gap: 1.5rem;
}

.btn-content button {
  font-family: Poppins, sans-serif;
  font-size: 1.2rem;
  padding: 15px;
  border-radius: 30px;
  font-weight: 600;
  color: #eb4e56;
  cursor: pointer;
}

.btn-content button:first-child:hover {
  background: none;
  color: var(--color-line-in-white);
  transition: 0.3s ease;
  border: 1px solid var(--color-line-in-white);
}

.btn-content button:last-child {
  background: none;
  color: var(--color-line-in-white);
  border: 1px solid var(--color-line-in-white);
}

.btn-content button:last-child:hover {
  background: var(--color-line-in-white);
  color: #eb4e56;
  transition: 0.3s ease;
  border: 1px solid var(--color-line-in-white);
}
