.navBar {
  margin: 0;
  display: flex;
  align-items: center;
  position: sticky;
  /* background-color: var(--color-dark); */
  font-family: Poppins, sans-serif;
}

.logoImage {
  padding: 20px;
  text-align: center;
  left: 0;
}

img {
  width: 15rem;
  margin-left: 20px;
}

.menuItems {
  display: flex;
  justify-content: right;
  gap: 2rem;
  list-style-type: none;
  margin: 20px;
  width: 80%;
}

.menuItems a {
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--color-title-in-primary);
}

.burguer {
  color: white;
  font-size: 35px;
  visibility: hidden;
}

@media screen and (max-width: 800px) {
  body {
    overflow-x: hidden;
  }
  .menuItems {
    position: absolute;
    right: 0;
    height: 92vh;
    top: 8vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 5rem;
    background-color: var(--color-text-base);
    transform: translateX(100%);
  }

  .burguer {
    position: absolute;
    right: 0;
    padding: 1.5rem;
    visibility: visible;
  }
}
