.nav-bar {
  margin: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  position: sticky;
  font-family: Poppins, sans-serif;
  padding: 1rem 4rem;
}

.logo-image {
  padding: 20px;
  text-align: center;
  left: 0;
}

img {
  width: 15rem;
  margin-left: 20px;
}

.menu-items {
  display: flex;
  gap: 2rem;
  list-style-type: none;
  margin: 20px;
  margin-left: 6rem;
  font-size: 0;
  width: 80%;
  transition: transform 0.3s ease;
}

.menu-items li {
  cursor: pointer;
}
.menu-items li:hover {
  border-bottom: 3px solid var(--color-line-in-white);
}

.menu-items a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--color-title-in-primary);
}

.menu-items img {
  width: 20px;
  font-size: 0;
  margin-left: 12px;
}

.sub-menu ul {
  position: absolute;
  display: none;
}

.sub-menu:hover ul {
  display: block;
}

.menu-icon {
  color: white;
  font-size: 35px;
  visibility: hidden;
}

@media screen and (max-width: 1150px) {
  .nav-bar {
    margin-left: 0;
  }
  .menu-items {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 200px 0;
    right: 0;
    margin: 0;
    width: 100%;
    top: 5vh;
    transform: translateY(-250%);
    background-color: var(--color-text-title);
  }

  .menu-items li:hover {
    border-bottom: 3px solid var(--color-line-in-white);
  }

  .menu-icon {
    position: absolute;
    right: 0;
    margin-right: 1.5rem;
    visibility: visible;
    cursor: pointer;
  }
  .active {
    transform: translateY(-20%);
    transition: transform 0.3s ease-in;
  }
}

@media screen and (max-width: 780px) {
  img {
    width: 10rem;
    margin-left: -50px;
  }
}

@media screen and (max-width: 450px) {
  .menu-items {
    padding: 300px 0;
    top: -2vh;
  }
}

@media screen and (max-height: 500px) {
  .nav-bar {
    margin-left: 0;
  }
  .menu-items {
    padding: 150px 0;
    top: -2vh;
  }
}
